absl-py==2.0.0
appnope==0.1.3
asttokens==2.4.1
cachetools==5.3.2
certifi==2023.11.17
charset-normalizer==3.3.2
comm==0.2.0
debugpy==1.8.0
decorator==5.1.1
dm-tree==0.1.8
exceptiongroup==1.2.0
executing==2.0.1
filelock==3.13.1
fsspec==2023.12.0
google-auth==2.24.0
google-auth-oauthlib==1.1.0
grpcio==1.59.3
h5py==3.10.0
huggingface-hub==0.19.4
idna==3.6
ipykernel==6.27.1
ipython==8.18.1
ipywidgets
jedi==0.19.1
Jinja2==3.1.2
jupyter_client==8.6.0
jupyter_core==5.5.0
Markdown==3.5.1
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib
matplotlib-inline==0.1.6
mdurl==0.1.2
mpmath==1.3.0
namex==0.0.7
nest-asyncio==1.5.8
networkx==3.2.1
numpy
oauthlib==3.2.2
packaging==23.2
pandas
parso==0.8.3
pexpect==4.9.0
Pillow==10.1.0
platformdirs==4.0.0
prompt-toolkit==3.0.41
protobuf==4.23.4
psutil==5.9.6
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.5.1
pyasn1-modules==0.3.0
Pygments==2.17.2
python-dateutil==2.8.2
pytz==2023.3.post1
PyYAML==6.0.1
pyzmq==25.1.1
regex==2023.10.3
requests==2.31.0
requests-oauthlib==1.3.1
rich==13.7.0
rsa==4.9
safetensors==0.4.1
six==1.16.0
stack-data==0.6.3
sympy==1.12
tensorboard==2.15.1
tensorboard-data-server==0.7.2
tokenizers==0.15.0
torch --index-url=https://download.pytorch.org/whl/cu121
tornado==6.4
tqdm==4.66.1
traitlets==5.14.0
transformers==4.35.2
typing_extensions==4.8.0
tzdata==2023.3
urllib3==2.1.0
uvicorn
wcwidth==0.2.12
webdriver-manager
Werkzeug==3.0.1
whoosh
wordcloud
streamlit
selenium==4.15.2
